html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}
/* font-family: 'Raleway', sans-serif; */
body {
    padding: 17px 0 0 0;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #444444;
}
.header__main {
    position: relative;
    padding: 0 60px;
    background-color: #ffe17f;
    margin-top: 23px;
}
.header__logo {
    position: absolute;
    width: 145px;
    height: 36px;
    top: -23px;
}
.header__nav {
    display: flex;
    padding: 49px 0 20px 0;
    justify-content: space-between;
    align-items: center;
}
.form__search {
    position: relative;

}
.form__search input,
.form__search button {
    background: transparent;
    border: none;
}
.form__search::after{
    content: "";
    position: absolute;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    top: 6px;
    left: 0;
}
.search__field {
    min-width: 480px;
    margin-right: 24px;
    height: 20px;
    padding-left: 36px;
    font-size: 16px;
}
.search__field placeholder {
    font-family: "Rubik", sans-serif;
    line-height: 19px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}
.search__field placeholder{
    color: rgba(0, 0, 0, 0.6);
}
.header__login {
    position: relative;
    margin-right: 187px;
    padding-left: 25px;
    color: #000;
    font-size: 16px;
    line-height: 19px;
}
.header__login::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 12px;
    background-image: url(../img/user.svg);
    background-repeat: no-repeat;
    top: 4px;
    left: 0;
}
.header__comparison {
    position: relative;
    margin-right: 39px;
    padding-left: 20px;
    color: #000;
    font-size: 16px;
    line-height: 19px;
}
.header__comparison::after {
    content: "";
    position: absolute;
    background-image: url(../img/compare.svg);
    background-repeat: no-repeat;
    width: 10px;
    height: 12px;
    top: 4px;
    left: 0;
}
.header__basket {
    position: relative;
    padding-left: 42px;
    color: #000;
    font-size: 16px;
    line-height: 19px;
}
.header__basket::after {
    content: "";
    position: absolute;
    background-image: url(../img/basket.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    top: 1px;
    left: 15px;
}
.menu__items{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    align-items: stretch;
}
.menu__item{
    margin: 15px 0;
}
.menu__item-link{
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.menu__item:first-child .menu__item-link{
    position: relative;
    padding-right: 70px;
    margin-right: 225px;
}
.menu__item:first-child .menu__item-link::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    top: -13px;
    right: 0;
    transition: all .2s;
}

.menu__item:first-child:hover .menu__item-link::after{
    background-image: url(../img/minus.svg);
    transition: all .2s;
}
.menu__item:nth-child(2) .menu__item-link{
    margin-right: 35px;
}
.menu__item:nth-child(3) .menu__item-link{
    margin-right: 95px;
}
.menu__nav{
    position: absolute;
    padding-top: 33px;
    width: 1160px;
    margin-left: -60px;
    background-color: #ffe17f;
    padding-left: 60px;
    z-index: 1;
    display: none;
    transition: all .2s;
}
.menu__item:hover .menu__nav{
    display: block;
    transition: all .2s;
}
.menu__list{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;

    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.menu__list-item{
    display: flex;
    flex-direction: column;
    min-width: 210px;
    margin-right: 30px;
}
.menu__list-item--link{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
