@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}
html {
    box-sizing: border-box;
    height: 100%;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
img {
    max-width: 100%;
    object-fit: contain;
}
.list-style-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}
.button,
.services__title-item {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}
.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 15px 0;
    height: 20px;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    margin-bottom: 10px;
}
body {
    display: flex;
    flex-direction: column;
    min-width: 1180px;
    min-height: 100%;
    margin: 0 auto;
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: #fff;
    scroll-behavior: smooth;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.container {
    max-width: 1160px;
    margin: 0 auto;
}
.main-container {
    flex-grow: 1;
}
.header__main {
    padding: 17px 60px 130px 60px;
    color: #000;
    background: linear-gradient(to top, #ffe17f 88%, #fff 88%, #fff 12%);
}
.resizing {
    background: linear-gradient(to top, #ffe17f 82%, #fff 82%, #fff 18%);
    padding-bottom: 16px;
}
.up-button{
    position: fixed;
    width: 60px;
    height: 60px;
    background-color: #ffe17f;
    border-radius: 50%;
    border: 3px solid #000;
    right: 50px;
    bottom: 50px;
    opacity: .7;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    display: none;
}
.up-button:hover{
    opacity: 1;
}
.shown{
    display: inline-block;
}
.catalog-main {
    padding-top: 40px;
}
.header__device {
    outline: none;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 22px 5px 0 5px;
    margin-left: -5px;
}
.header__device:hover {
    opacity: 0.6;
}
.header__device:focus {
    border-color: #af4fff;
}
.header__device:active {
    opacity: 0.3;
}
.header__nav,
.menu__items {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.header__nav {
    margin: 14px 0 16px 0;
    align-items: center;
}
.header__user,
.header__login,
.header__comparison,
.header__basket,
.menu__item,
.footer-menu__item-link,
.products__item-link {
    outline: none;
    text-decoration: none;
    color: inherit;
}
.form__search {
    position: relative;
    width: 516px;
    display: flex;
    align-items: center;
    margin-left: -15px;
    margin-right: 17px;
    border: 2px solid transparent;
}
.form-search__label {
    position: relative;
}
.form-search__label::before {
    content: "";
    position: absolute;
    background-image: url("../img/search.svg");
    width: 16px;
    height: 16px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}
/* "активность" поля поиска по сайту  */
.form__active .search__field:active,
.form__active .search__field:valid {
    border: 2px solid #000;
    border-radius: 20px;
    display: block;
}
.search__field:valid + .search__button {
    display: block;
}
/* -------------------END------------------ */
.form__search .search__field {
    color: #000;
}
.form-search__label button {
    font-family: inherit;
    font-size: 16px;
    line-height: 19px;
}
.search__button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid #000;
    border-radius: 0 20px 20px 0;
    background: none;
    width: 160px;
    display: none;
}
.search__button:hover {
    background-color: #000;
    color: #fff;
}
.search__button:focus {
    border-color: #af4fff;
}
.search__button:active {
    background-color: #000;
    color: rgba(255, 255, 255, 0.3);
}
.search__field,
.search__field::placeholder {
    font-family: inherit;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.3);
}
.search__field {
    width: 100%;
    background-color: transparent;
    padding: 10px 160px 10px 47px;
    border: 2px solid transparent;
    border-radius: 20px;
}
.search__field:hover::placeholder {
    color: rgba(0, 0, 0, 0.6);
}
.search__field:focus {
    border-color: #af4fff;
}
.search__field,
.search__button {
    font-family: inherit;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    outline: none;
    cursor: pointer;
}
.header__user,
.header__login,
.header__comparison,
.header__basket {
    position: relative;
    font-family: inherit;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000;
}
.header__login::before,
.header__user::before,
.header__comparison::before,
.header__basket::before {
    content: "";
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    transform: translateY(-50%);
}
.header__login {
    padding-left: 25px;
    margin-right: 137px;
}
.header__login::before,
.header__user::before {
    width: 13px;
    height: 12px;
    left: 20px;
    background-image: url("../img/login.svg");
}
.header__login.header__logout {
    color: rgba(0, 0, 0, 0.3);
    margin-right: 0;
    padding-left: 20px;
}
.header__login.header__logout::before {
    content: none;
}
.header__user {
    padding: 10px 20px 10px 46px;
    border: 2px solid transparent;
    border-radius: 20px;
    margin-right: -15px;
}
.header__user:focus {
    border-color: #af4fff;
}
.header__comparison {
    padding-left: 20px;
}
.header__comparison:before {
    width: 10px;
    height: 12px;
    left: 25px;
    background-image: url("../img/compare.svg");
}
.header__basket {
    padding: 10px 0 10px 41px;
}
.header__basket:before {
    width: 31px;
    height: 21px;
    background-image: url("../img/cart.svg");
}
.header__basket:focus::after {
    content: "";
    position: absolute;
    border: 2px solid #af4fff;
    border-radius: 25px;
    width: 131px;
    height: 42px;
    left: 0;
    top: -2px;
}
.header__comparison:hover,
.header__login:hover,
.header__basket:hover {
    opacity: 0.6;
}
.header__login:focus,
.header__comparison:focus {
    border-color: #af4fff;
}
.header__comparison:active,
.header__login:active,
.header__basket:active {
    opacity: 0.3;
}
.header__nav-list,
.menu__item {
    outline: none;
}
.header__login,
.header__comparison {
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 10px 20px 10px 46px;
}
.header__nav-list:last-child {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding-left: 0;
}
.header__nav-list.reset-list {
    margin-right: 10px;
}
.popup__basket {
    position: relative;
}
.popup__basket:hover .popup__cart,
.popup__basket:focus-within .popup__cart {
    display: block;
}
.popup__cart {
    position: absolute;
    right: -80px;
    top: 42px;
    width: 320px;
    background-color: #000;
    padding: 20px;
    z-index: 5;
    box-shadow: 0 10px 0 #e5e5e5;
    display: none;
}
.popup__cart::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    transform: rotate(45deg);
    top: -5px;
    left: 152px;
}
.popup__items {
    margin-bottom: 20px;
}
.popup__item {
    position: relative;
    display: flex;
    margin-bottom: 40px;
}
.popup__item:last-child {
    margin-bottom: 0;
}
.popup__item-link {
    position: relative;
    display: flex;
    outline: none;
    text-decoration: none;
    color: inherit;
}
.popup__item-link::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.1);
    bottom: -20px;
    left: -20px;
}
.popup__item-link:hover {
    opacity: 0.6;
}
.popup__item-link:focus .popup__product {
    outline: 5px solid #af4fff;
}
.popup__item-link:focus .popup__description {
    color: #af4fff;
}
.popup__item-link:active {
    opacity: 0.3;
}
.popup__product {
    display: block;
}
.popup__item-link {
    width: 245px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup__description {
    font-family: inherit;
    margin: 0;
    width: 180px;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}
.removing-button {
    position: relative;
    width: 25px;
    height: 25px;
    border: none;
    background: none;
    right: -17px;
    border: 2px solid transparent;
    border-radius: 50%;
    outline: none;
}
.removing-button:hover {
    opacity: 0.6;
}
.removing-button:focus {
    border-color: #af4fff;
}
.removing-button:active {
    opacity: 0.3;
}
.removing-button::before,
.removing-button::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.removing-button::after {
    transform: rotate(-45deg);
}
.popup-total__items {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 12px 0;
}
.popup-total__items::before {
    content: "";
    position: absolute;
    background-color: #1a1a1a;
    width: 320px;
    height: 100%;
    top: 0;
    left: -20px;
    z-index: -1;
}
.popup-total__item {
    display: flex;
    align-items: center;
    font-family: inherit;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}
.popup-total__item span {
    display: inline-block;
}
.popup-total__text {
    margin: 0;
    padding: 0;
    margin-right: 4px;
}
.popup__cart .popup__cart-button {
    display: block;
    padding: 15px 20px;
    background-color: #fff;
    color: #000;
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    outline: none;
    text-decoration: none;
    color: inherit;
}
.popup__cart-button:hover {
    background-color: #ffe17f;
}
.popup__cart-button:focus {
    outline: 5px solid #af4fff;
}
.popup__cart-button:active {
    color: rgba(0, 0, 0, 0.3);
}
.header__menu {
    padding-bottom: 20px;
}
.menu__item-link,
.sub-menu__item-link,
.footer-menu__item-link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    text-align: center;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    outline: none;
}
.menu__item:first-child {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 206px;
    left: -22px;
}
.menu__item:first-child > .menu__item-link {
    padding: 13px 15px 13px 20px;
    border: 2px solid transparent;
    border-radius: 25px;
}
.menu__item:first-child > .menu__item-link:focus {
    border-color: #af4fff;
}
.menu__item:first-child > .menu__item-link:active {
    color: rgba(0, 0, 0, 0.2);
}
.menu__item:last-child {
    margin-left: auto;
    left: 22px;
}
.menu__item-element {
    position: relative;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}
.menu__item:first-child:hover .menu__item-element {
    border-color: #000;
}
.menu__item:first-child:active .menu__item-element {
    border-color: rgba(0, 0, 0, 0.2);
}
.menu__item-element::before,
.menu__item-element::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.menu__item:first-child:hover .menu__item-element::before {
    display: none;
}
.menu__item-element::after {
    width: 16px;
    height: 2px;
}
.menu__item:first-child:hover .menu__item-element::after {
    background-color: #000;
}
.menu__item:first-child:active .menu__item-element::after {
    background-color: rgba(0, 0, 0, 0.2);
}
.menu__item:not(:first-child) {
    position: relative;
}
.menu__item:not(:first-child):hover .menu__item-link {
    text-decoration: 2px underline #000;
    text-underline-offset: 8px;
}
.menu__item:first-child:focus .menu__item-link::after {
    content: "";
    position: absolute;
    border: 2px solid #af4fff;
    width: 165px;
    height: 50px;
    background: transparent;
    left: -20px;
    top: -10px;
    border-radius: 25px;
}
.menu__item:not(:first-child) .menu__item-link {
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 12px 15px;
}
.menu__item:not(:first-child) .menu__item-link:focus {
    border-color: #af4fff;
}
.menu__item-link:active {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.2);
}
.sub__menu:hover .sub-menu__inner,
.sub__menu:focus-within .sub-menu__inner {
    visibility: visible;
}
.sub__menu {
    position: relative;
}
.sub-menu__inner {
    position: absolute;
    display: flex;
    bottom: 0;
    transform: translateY(100%);
    left: -38px;
    background-color: #ffe17f;
    z-index: 2;
    width: 1160px;
    padding: 28px 45px 53px;
    visibility: hidden;
}
.sub-menu__items {
    margin-right: 12px;
}
.sub-menu__items:nth-child(2) {
    margin-right: 25px;
}
.sub-menu__items:last-child {
    margin-right: 0;
}
.sub-menu__item {
    margin-bottom: 5px;
}
.sub-menu__item:last-child {
    margin-bottom: 0;
}
.sub__menu .sub-menu__item-link {
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: none;
    letter-spacing: normal;
    border: 2px solid transparent;
    border-radius: 25px;
    padding: 0 15px;
}
.sub-menu__item-link:hover {
    color: rgba(0, 0, 0, 0.6);
}
.sub-menu__item-link:focus {
    border-color: #af4fff;
}
.sub-menu__item-link:active {
    color: rgba(0, 0, 0, 0.3);
}
/* -----------SLIDER----------- */
.title {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000;
    margin: 0;
}
.slider {
    color: #000;
    margin-bottom: 70px;
}
.slider__inner {
    position: relative;
}
.slider__items {
    margin-top: -150px;
    counter-reset: slider-counter;
}
.slider__item.slick-slide {
    display: flex;
}
.slick-arrow {
    position: absolute;
    display: block;
    width: 40px;
    height: 80px;
    border: 2px solid transparent;
    border-radius: 6px;
    background: none;
    border: none;
    background-image: url("../img/slider/slider-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    outline: none;
    font-size: 0;
    z-index: 1;
}
.slick-arrow:hover {
    opacity: 0.6;
}
.slick-arrow:focus {
    border-color: #af4fff;
}
.slick-arrow:active {
    opacity: 0.3;
}
.slick-prev {
    position: absolute;
    top: 242px;
    left: 10px;
}
.slick-next {
    position: absolute;
    left: 511px;
    bottom: 239px;
    transform: rotate(180deg);
}
ul.slick-dots {
    position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    right: 60px;
    bottom: 182px;
    gap: 22px;
    z-index: 3;
    list-style: none;
}
.slick-dots button {
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid #000;
    border-radius: 50%;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    font-size: 0;
    background: none;
}
.slick-dots button:hover {
    opacity: 0.6;
}
.slick-dots button:focus {
    border-color: #af4fff;
}
.slick-dots button:active {
    opacity: 0.3;
}
.slick-active button {
    background-color: #000;
}
.slider__item {
    display: flex;
    background: linear-gradient(to bottom, #ffe17f 27%, #fff 27%, #fff 73%);
}
.slider__item::before {
    counter-increment: slider-counter;
    content: "0" counter(slider-counter);
    position: absolute;
    top: 83px;
    right: 49px;
    font-family: inherit;
    font-weight: 800;
    font-size: 180px;
    line-height: 30px;
    color: #fff;
    z-index: 1;
}
.slider__content {
    width: 560px;
    padding-top: 123px;
    margin-left: auto;
    z-index: 1;
}
.slider__title {
    margin-bottom: 30px;
}
.slider__description,
.element__specification-text {
    margin: 0;
}
.slider__description {
    margin-bottom: 40px;
}
.content__button {
    position: relative;
    width: 220px;
    padding: 20px 0;
    margin-bottom: 60px;
}
.content__button::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 8px;
    background-color: #ffe17f;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.content__button:hover {
    background-color: #ffe17f;
}
.content__button:focus::before {
    background-color: #af4fff;
}
.content__button:active {
    color: rgba(0, 0, 0, 0.3);
}
.slider__element-info {
    display: flex;
}
.element__item:not(:nth-child(3n)) {
    margin-right: 20px;
}
.element__specifications {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
}
.element__specification-text {
    font-size: 16px;
}
.products {
    color: #000;
    margin-bottom: 70px;
}
/* -----------END SLIDER----------- */
.products__list {
    display: grid;
    grid-template-columns: repeat(6, 160px);
    gap: 40px;
}
.products__item {
    width: 160px;
    outline: none;
}
.products__item:hover .products__category {
    background-color: #ffc700;
}
.products__item-link:focus .products__category {
    border: 5px solid #af4fff;
}
.products__item-link:focus .products__item-title {
    color: #af4fff;
}
.products__item:active {
    color: rgba(0, 0, 0, 0.3);
}
.products__item:active .products__photo {
    fill: rgba(0, 0, 0, 0.3);
}
.products__category {
    position: relative;
    height: 160px;
    background-color: #ffe17f;
    margin-bottom: 33px;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid transparent;
}
.products__photo {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    fill: #363636;
}
.products__item:nth-child(2) .products__photo {
    top: 42px;
}
.products__item:nth-child(3) .products__photo {
    left: 8px;
}
.products__item:last-child .products__photo {
    top: 5px;
}
.products h3 {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    margin: 0;
}
.services {
    position: relative;
    color: #000;
    padding: 82px 0 138px 0;
    margin-bottom: 90px;
    background: linear-gradient(to top, #f0f0f0 72%, #fff 72%, #fff 25%);
}
.services__wrapper {
    display: flex;
}
.services__slides-item {
    position: relative;
}
.services__category {
    padding-right: 240px;
}
.services__category::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: right;
    top: 15px;
    right: 0;
}
.services__slide1 .services__category::after {
    background-image: url("../img/delivery.svg");
    width: 136px;
    height: 164px;
}
/* -------- Слайды слайдера-------- */
.services__slide2 .services__category::after {
    background-image: url("../img/warranty.svg");
    width: 171px;
    height: 195px;
}
.services__slide3 .services__category::after {
    background-image: url("../img/credit.svg");
    width: 156px;
    height: 188px;
}
/* ------------------END------------------- */
.services__items {
    position: relative;
    width: 280px;
    margin-top: 10px;
    margin-right: 120px;
    z-index: 1;
}
.services__items::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 320px;
    top: -80px;
    right: -4px;
    background-color: #000;
}
.services__item {
    position: relative;
    width: 160px;
    margin-bottom: 25px;
}
.services__item:last-child {
    margin-bottom: 0;
}
.services__title-item {
    display: block;
    margin: 0 auto;
    outline: none;
    padding: 10px 15px;
    text-decoration: none;
    color: inherit;
}
.services__title-item::before {
    content: "";
    position: absolute;
    background-color: #ffe17f;
    height: 8px;
    top: 16px;
    left: 0;
    right: 0;
    z-index: -1;
}
.services__title-item:hover {
    background-color: #ffc700;
}
.services__title-item:focus::before {
    background-color: #af4fff;
}
/* активность кнопки */
.services__title-item.services__title-item--active {
    padding: 8px 257px 10px 20px;
    background-color: #000;
    color: #ffe17f;
    margin-bottom: 0px;
}
/* ---------END--------- */
.services__description {
    width: 455px;
}
.services__title {
    margin-bottom: 35px;
}
.services__text {
    color: #444444;
    margin: 0;
}
.about__delivery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 97px;
    background-color: #f0f0f0;
}
.about__delivery:hover .about__delivery-logo {
    background-color: #ffc700;
}
.about__delivery:hover .about__delivery-info {
    background-color: #dcdcdc;
    color: #000;
}
.about__delivery:focus {
    outline: 5px solid #af4fff;
}
.about__delivery:active .about__delivery-info {
    background-color: #dcdcdc;
    color: rgba(0, 0, 0, 0.3);
}
.about__delivery:active .about__delivery-icon {
    fill: rgba(0, 0, 0, 0.3);
}
.about__delivery-logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 125px;
    height: 100px;
    background-color: #ffe17f;
}
.about__delivery-icon {
    fill: #000;
}
.about__delivery-description {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000;
    padding: 0 10px;
}
.about__delivery-info {
    min-width: 40px;
    min-height: 40px;
    background-color: rgba(220, 220, 220, 0.5);
    color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    margin: 0 33px 0 50px;
}
.company-info {
    margin-bottom: 60px;
}
.company__wrapper {
    display: flex;
    position: relative;
    padding-top: 48px;
}
.about-us {
    width: 500px;
    margin-right: 100px;
}
.about-us::before,
.contacts::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 7px;
    background-color: #000;
    top: 0;
}
.about-us::before {
    left: 0;
}
.about-us__title,
.contacts__title {
    margin-bottom: 48px;
}
.about-us__text,
.contacts__text {
    margin: 0 0 30px 0;
}

.about-us__list {
    padding: 0;
    margin: 72px 0 52px 35px;
}
.about-us__item {
    position: relative;
}
.about-us__item::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ffc700;
    top: 10px;
    left: -35px;
}
.about-us__item:not(:last-child) {
    margin-bottom: 10px;
}
.about-us__company {
    font-weight: 700;
    line-height: 20px;
    color: #000;
}
.about-us__button,
.contacts__button {
    position: relative;
    width: 260px;
    height: auto;
    padding: 15px 0;
}
.about-us__button::after,
.contacts__button::before {
    content: "";
    position: absolute;
    width: 260px;
    height: 8px;
    background-color: #ffe17f;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.about-us__button:hover,
.contacts__button:hover {
    background-color: #ffe17f;
}
.about-us__button:focus::after,
.contacts__button:focus::before {
    background-color: #af4fff;
}
.about-us__button:active,
.contacts__button:active {
    color: rgba(0, 0, 0, 0.3);
}
.contacts {
    width: 515px;
}
.contacts__subtitle {
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    margin-bottom: 15px;
}
.contacts address {
    margin-bottom: 32px;
    font-style: normal;
}
.contacts__adress {
    margin: 0;
}
.contacts__phone {
    text-decoration: none;
    color: inherit;
}
.contacts__schedule {
    margin-bottom: 52px;
}
.distribution {
    background-color: #f0f0f0;
    padding-top: 78px;
    padding-bottom: 130px;
}
.distribution__mail {
    display: flex;
    margin-bottom: 60px;
}
.distribution__description {
    width: 560px;
    margin: 10px 0 0 auto;
}
.distribution__mail-subscription {
    display: flex;
}
.distribution__input,
.distribution__input::placeholder {
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    color: rgba(4, 4, 4, 0.5);
    width: 560px;
}
.distribution__input {
    border: none;
    background: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    padding: 12px 2px 10px 2px;
    width: 601px;
    outline: none;
}
.distribution__input:hover {
    border-color: rgba(0, 0, 0, 0.2);
}
.distribution__input:focus {
    background-color: #dcdcdc;
    border: none;
    border-bottom: 3px solid transparent;
    padding: 12px 2px 10px 2px;
}
/* состояние "активность" поля ввода email */
.distribution__input-active {
    border-color: #000;
}
.distribution__input-active::placeholder {
    color: #444444;
}
/* -------------------END---------------------- */
/* состояние "ошибка ввода" поля ввода email */
.distribution__input:invalid {
    border-color: #ff3d3d;
}
/* -------------------END---------------------- */
.distribution__btn {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000;
    background: none;
    border: 3px solid rgba(0, 0, 0, 0.1);
    padding: 13px 35px 15px 39px;
    margin-left: -4px;
    outline: none;
}
.distribution__btn:hover {
    background-color: #000;
    color: #fff;
}
.distribution__btn:focus {
    border-color: #af4fff;
}
.distribution__btn:active {
    color: rgba(255, 255, 255, 0.3);
}
.distribution__subscription-free {
    margin-left: auto;
    padding-left: 35px;
    background-image: url("../img/green-check.svg");
    background-repeat: no-repeat;
    background-position: left 8px;
    align-self: center;
}
.footer {
    color: #fff;
    background-color: #444444;
    padding: 61px 0;
}
.footer__device {
    position: relative;
    display: inline-block;
    height: 40px;
    cursor: pointer;
    outline: none;
}
.footer__device:hover {
    opacity: 0.6;
}
.footer__device:focus::before {
    content: "";
    position: absolute;
    width: 165px;
    height: 56px;
    top: 50%;
    left: -12px;
    transform: translateY(-50%);
    border: 2px solid #af4fff;
    border-radius: 20px;
}
.footer__device:active {
    opacity: 0.3;
}
.footer__logo {
    margin-bottom: 28px;
    margin-left: -2px;
}
.footer__wrapper {
    display: flex;
    margin-bottom: 49px;
}
.footer__adress {
    font-size: 16px;
    line-height: 19px;
    color: inhetir;
    font-style: normal;
    width: 247px;
    margin: 0;
    margin-right: 115px;
}
.footer-menu__items {
    display: flex;
    flex-wrap: wrap;
    max-width: 460px;
}
.footer-menu__item {
    position: relative;
    margin-bottom: 5px;
}
.footer-menu__item:not(:nth-child(3n)) {
    margin-right: 29px;
}
.footer-menu__item:hover {
    border-bottom: 2px solid #ffc700;
    color: #ffc700;
}
.footer-menu__item-link:focus::before {
    content: "";
    position: absolute;
    border: 2px solid #af4fff;
    width: 165px;
    height: 50px;
    background: transparent;
    left: -20px;
    top: -10px;
    border-radius: 25px;
}
.footer-menu__item:active {
    border-bottom: 2px solid #ffc80030;
    color: #ffc80030;
}
.footer-menu__item-link {
    outline: none;
    margin-bottom: 8px;
}
.footer-contacts__phone {
    position: relative;
    margin-left: auto;
    font-size: 16px;
    outline: none;
    text-decoration: none;
    color: inherit;
}
.footer-contacts__phone:hover {
    color: #ffc700;
}
.footer-contacts__phone:focus::before {
    content: "";
    position: absolute;
    width: 204px;
    height: 27px;
    border: 2px solid #af4fff;
    border-radius: 25px;
    left: -15px;
}
.footer-contacts__phone:active {
    color: #ffc80030;
}
.footer__social {
    position: relative;
    display: flex;
    align-items: center;
}
.footer__social::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 7px;
    background-color: #ffc500;
    margin-right: 35px;
}
.footer__list {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.footer__item:last-child {
    margin-right: 0;
}
.footer__item {
    position: relative;
    margin-right: 15px;
}
.footer__link {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    outline: none;
}
.footer__link svg {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    fill: #444444;
}
.footer__link:hover {
    background-color: #ffc700;
}
.footer__link:focus {
    border: 5px solid #af4fff;
}
.footer__link:focus svg {
    fill: #fff;
}
.footer__link:active svg {
    fill: rgba(0, 0, 0, 0.3);
}
.footer__company {
    position: relative;
    top: 3px;
    outline: none;
}
.footer__company svg {
    fill: #ffc700;
}
.footer__company:hover svg {
    fill: #fff;
}
.footer__company:focus::before {
    content: "";
    position: absolute;
    border: 2px solid #af4fff;
    border-radius: 10px;
    width: 135px;
    height: 53px;
    top: -10px;
    left: -10px;
}
.footer__company:active svg {
    fill: rgba(255, 255, 255, 0.3);
}
/* -------CATALOG PAGE------- */
.header__menu-catalog {
    padding-bottom: 30px;
}
.catalog__header {
    margin: 0 0 43px 60px;
}
.catalog__title {
    margin-bottom: 18px;
}
.catalog__products {
    display: flex;
}
.bredcrumbs {
    display: flex;
}
.bredcrumbs__item {
    position: relative;
    margin-right: 21px;
    margin-left: -19px;
}
.bredcrumbs__item::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    top: 12px;
    left: 97px;
    background-image: url("../img/bredcrumbs-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.bredcrumbs__item:nth-child(2)::after {
    content: "";
    left: 161px;
}
.bredcrumbs__item:last-child::after {
    content: none;
}
.breadcrumbs__link {
    outline: none;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
    padding: 5px 12px;
    border: 5px solid transparent;
    text-decoration: none;
}
.breadcrumbs__link:hover {
    color: #000;
}
.breadcrumbs__link:focus {
    border-color: #af4fff;
}
.breadcrumbs__link:active {
    color: rgba(0, 0, 0, 0.3);
}
.catalog__settings {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #000;
    margin-left: -252px;
    width: calc((100%-468px) / 2);
    background-image: linear-gradient(to bottom, #ccc 5%, #ebebeb 5%);
}
.catalog__filter,
.sort___form label,
.pagination__link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: inherit;
    margin: 0;
}
.catalog__filter {
    padding: 27px 173px 26px 0;
    margin-bottom: 67px;
}
.filter-form {
    padding-left: 198px;
    padding-right: 68px;
}
.catalog__filter-group {
    border: none;
    margin: 0;
    padding: 0;
}
.catalog__filter-title {
    width: 100%;
    border-top: 2px solid #000;
    padding-top: 12px;
    margin-bottom: 38px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: -0.02em;
}
.range__scale {
    position: relative;
    height: 2px;
    margin-bottom: 13px;
    background-color: #dcdcdc;
}
.range__bar {
    position: absolute;
    height: 2px;
    width: 115px;
    left: 2px;
    background-color: #000;
}
.range-toggle {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #dcdcdc;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}
.range-toggle:focus {
    border-color: #af4fff;
}
.range-toggle:active {
    border-color: #000;
    background-color: #000;
}
.toggle-min,
.toggle-max {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.toggle-max {
    left: 111px;
}
.range-toggle,
.catalog__filter-group label {
    font-family: inherit;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: none;
    letter-spacing: 0;
}
.catalog__filter-group {
    margin-bottom: 34px;
}

.filter-input__wrapper {
    display: flex;
    justify-content: flex-start;
}
.catalog-filter__label {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-left: -5px;
}
.catalog-filter__label:last-child {
    margin-right: 0;
    margin-left: 0;
}
.catalog__filter-input {
    width: 50px;
    font-family: inherit;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    background-color: transparent;
    border: none;
    appearance: textfield;
    padding-left: 5px;
    outline: none;
}
.catalog__filter-input::-webkit-outer-spin-button,
.catalog__filter-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}
.catalog__filter-input:focus {
    color: #af4fff;
}
.catalog__filter-input:active {
    color: #000;
}
.catalog__filter-item {
    margin-bottom: 21px;
}
.catalog__filter-item:last-child {
    margin-bottom: 8px;
}
.catalog__filter-list {
    margin-top: -8px;
}
.control__label,
.control {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 40px;
    outline: none;
}
.control__label::before,
.control::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -1px;
    left: 3px;
    border: 2px solid #000;
    border-radius: 3px;
}
.control__label::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 3px;
    left: 8px;
    background-image: url("../img/check-marker.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}
.control__input[type="checkbox"]:checked + .control__label::after {
    display: block;
}
.control__input[type="checkbox"]:not(:checked) + .control__label::before,
.control__input[type="radio"]:hover + .control::before,
.control__input[type="radio"]:not(:checked) + .control::before {
    opacity: 0.2;
}
.control__input[type="checkbox"]:checked:hover + .control__label,
.control__input[type="radio"]:checked:hover + .control {
    opacity: 0.5;
}
.control__input[type="radio"]:not(:checked):hover .control::before {
    opacity: 0.2;
}
.control__input[type="checkbox"]:focus + .control__label::before,
.control__input[type="checkbox"]:focus + .control__label .control__span,
.control__input[type="radio"]:focus + .control::before,
.control__input[type="radio"]:focus + .control .control__span,
.control__input[type="radio"]:focus + .control {
    border-color: #af4fff;
    color: #af4fff;
    opacity: 1;
}
.control__input[type="checkbox"]:checked:focus + .control__label::after {
    background-image: url("../img/check-focus.svg");
    background-repeat: no-repeat;
}
.control__input[type="radio"]:focus + .control::after {
    background-color: #af4fff;
}
.control__input[type="checkbox"]:active + .control__label,
.control__input[type="radio"]:active + .control {
    opacity: 0.2;
}
.control__input {
    margin-right: 20px;
}
.control__span {
    color: #000;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    display: inline-block;
}
.control::before {
    border-radius: 50%;
}
.control::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    left: 9px;
    top: 5px;
    background-color: #000;
    display: none;
}
.catalog__filter-group:nth-child(2) {
    margin-bottom: 37px;
}
.catalog__filter-group:nth-child(3) {
    margin-bottom: 35px;
}
.catalog__filter-group:nth-child(3) .catalog__filter-title {
    padding-top: 12px;
}
.control__input[type="radio"]:checked + .control::after {
    display: block;
}
.filter__btn {
    position: relative;
    width: 200px;
    padding: 20px 0;
    margin-left: 3px;
    z-index: 1;
}
.filter__btn::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 8px;
    background-color: #ffc700;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.filter__btn:hover {
    background-color: #ffc700;
}
.filter__btn:focus::before {
    background-color: #af4fff;
}
.filter__btn:active {
    color: rgba(0, 0, 0, 0.3);
}
.catalog__right-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: linear-gradient(to bottom, #ebebeb 5%, #fff 5%);
}
.sort {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 972px;
    margin-bottom: 70px;
}
.sort___form {
    color: #000;
    padding: 15px 0 15px 72px;
}
.sort___form label {
    background-color: inherit;
    margin-right: 30px;
}
.select__control {
    position: relative;
    font-family: inherit;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    border: none;
    background: transparent;
    padding: 5px 38px 5px 11px;
    border: 5px solid transparent;
    appearance: none;
    background-image: url("../img/dropdown.svg");
    background-repeat: no-repeat;
    background-position: 190px center;
    cursor: pointer;
}
.select__control:hover {
    opacity: 60%;
}
.select__control:focus {
    border-color: #af4fff;
}
.select__control:active {
    opacity: 30%;
}
.select__control option {
    font-size: 16px;
    line-height: 19px;
}
.sort svg {
    fill: rgba(0, 0, 0, 0.2);
    display: block;
}
.sort__control {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 130px;
}
.sort__control .select__control-up,
.sort__control .select__control-down {
    display: inline-block;
    padding: 10px;
}
.select__control-up:hover svg,
.select__control-down:hover svg {
    fill: rgba(0, 0, 0, 0.5);
}
.sort__control .select__control-up:focus,
.select__control-down:focus {
    outline: 5px solid #af4fff;
}
.select__control-up {
    transform: rotate(180deg);
}
/* ------"Активность" элемента сортировки------ */
.control-active svg {
    fill: #000;
}
/* -----------------------END---------------------- */
.product {
    margin-left: 72px;
    margin-bottom: 40px;
}
.product-list {
    display: grid;
    grid-template-columns: repeat(2, 360px);
    gap: 44px 40px;
    margin-bottom: 45px;
}
.product__card {
    position: relative;
}
.product__card-new::after {
    content: "new";
    position: absolute;
    width: 60px;
    height: 60px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    top: 30px;
    right: 26px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2em;
    color: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
.product__card-link {
    outline: none;
    text-decoration: none;
    color: inherit;
}
.product__card-link:focus .product__card-image {
    outline: 5px solid #af4fff;
}
.product__card-link:focus .product__card-title,
.product__card-link:focus .product-card-price {
    color: #af4fff;
}
.product__card-image {
    display: block;
    margin-bottom: 34px;
}
.product__card:hover .product__card-image {
    opacity: 0.6;
}
.product__card:hover .product__card-btn {
    opacity: 1;
}
.product__card-description {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.product__card-title {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    max-width: 254px;
    margin: 0;
    padding: 0;
    color: #000;
}
.product-card-price {
    line-height: 21px;
    font-weight: 400;
    text-align: right;
    margin-left: auto;
}
.product__card-btn {
    position: absolute;
    padding: 20px 0;
    width: 180px;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
}
.product__card-btn::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 8px;
    background-color: #ffc700;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.product__card-btn:hover {
    background-color: #ffc700;
}
.product__card-btn:active {
    color: rgba(0, 0, 0, 0.3);
}
.product__again {
    min-width: 760px;
    background: none;
    padding: 24px 0;
    border: 3px solid rgba(0, 0, 0, 0.1);
    letter-spacing: 0.1em;
    margin-bottom: 12px;
}
.product__again:hover {
    border-color: #000;
}
.product__again:focus {
    border: 3px solid #af4fff;
}
.product__again:active {
    border-color: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3);
}
.pagination {
    max-width: 760px;
    color: rgba(0, 0, 0, 0.3);
    background-color: #ebebeb;
    margin-left: 72px;
    margin-bottom: 76px;
}
.pagination__items {
    display: grid;
    grid-template-columns: 300px repeat(5, 38px) 1fr;
    align-items: baseline;
    gap: 2px;
}
.pagination__item:first-child {
    justify-self: start;
}
.pagination__item:last-child {
    justify-self: end;
}
.pagination__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 400;
    background: none;
    text-transform: none;
    letter-spacing: 0.2em;
    border: 5px solid transparent;
    padding: 8px 15px;
    outline: none;
    text-decoration: none;
    color: inherit;
}
.pagination__link:hover {
    color: #000;
}
.pagination__link.pagination-prev,
.pagination__link.pagination__next {
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.17em;
    padding: 21px 22px;
}
.pagination-prev:hover,
.pagination__next:hover {
    background-color: #dcdcdc;
}
.pagination__link:focus {
    border-color: #af4fff;
}
.pagination__link:active {
    color: #444444;
    opacity: 0.1;
}
.pagination-prev:active,
.pagination__next:active {
    background-color: #dcdcdc;
    color: rgba(0, 0, 0, 0.3);
}
.footer-catalog {
    color: #fff;
    background-color: #444444;
}
.modal-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.9);
    z-index: 10;
    display: none;
}
.modal {
    position: relative;
    margin: auto;
    background-color: #fff;
    padding: 62px 70px 66px 70px;
    border: 10px solid #000;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.modal__auth {
    width: 920px;
}
.modal__close-btn {
    position: absolute;
    top: 66px;
    right: 59px;
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-radius: 50%;
    background: none;
    background-image: url("../img/modal-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
}
.modal__close-btn:hover {
    opacity: 0.6;
}
.modal__close-btn:focus {
    border-color: #af4fff;
}
.modal__close-btn:active {
    opacity: 0.3;
}
.field-group {
    margin: 0;
    padding: 0;
}
.modal__title {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
}
.modal-form__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.auth-form label {
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000;
}
.auth__label,
.auth__email {
    position: relative;
}
.auth__label::after,
.auth__email::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 12px;
    top: 56px;
    right: 21px;
    background-image: url("../img/login.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}
.auth__email::after {
    width: 15px;
    height: 12px;
    top: 56px;
    right: 21px;
    background-image: url("../img/mail.svg");
    opacity: 1;
}
.auth__caption {
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000;
}
.auth-form input {
    display: block;
    border: 3px solid transparent;
    background-color: #f0f0f0;
    padding: 19px 20px 20px 20px;
    width: 360px;
    outline: none;
    margin-top: 13px;
    margin-bottom: 5px;
}
.auth-form input:hover {
    background-color: #ebebeb;
}
.auth-form input:focus {
    outline: 5px solid #af4fff;
}
/* -----"Активность" полей ввода (модальное окно)----- */
.auth-form__active input {
    border-color: #000;
}
/* ------------------END---------------------- */
/* ----Ошибка полей ввода---- */
.auth-form .auth__input:invalid {
    border: 3px solid #ff3d3d;
}
.auth-form .auth__input:invalid + .error {
    color: #ff3d3d;
}
/* -------------------END---------------------- */
.auth__description .auth__input {
    width: 560px;
}
.auth__number {
    position: relative;
}
.auth__number .auth__input {
    width: 160px;
    padding-left: 75px;
}
.auth__input[type="number"] {
    position: relative;
    appearance: textfield;
}
.auth__input[type="number"]::-webkit-outer-spin-button,
.auth__input[type="number"]::-webkit-inner-spin-button {
    display: none;
}
.number__btn {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 46px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    cursor: pointer;
    outline: none;
    z-index: 1;
}
.number__btn:hover {
    opacity: 1;
}
.number__btn:focus {
    border-color: #af4fff;
    opacity: 1;
}
.number__btn:active {
    opacity: 0.1;
}
.number__minus {
    position: absolute;
    background-image: url("../img/modal-minus.svg");
    left: 11px;
}
.number__plus {
    position: absolute;
    background-image: url("../img/modal-plus.svg");
    right: 11px;
}
.appointment-form-number {
    position: relative;
}
.auth-form input::placeholder {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.6);
}
.appointment-form-email input::placeholder {
    color: #000;
}
.auth__information {
    position: absolute;
    width: 26px;
    height: 26px;
    top: -2px;
    right: 14px;
    border-radius: 50%;
    background-color: #ffe17f;
    background-image: url("../img/info.svg");
    background-repeat: no-repeat;
    background-position: center;
    outline: none;
}
.popup-info__container {
    position: absolute;
    width: 200px;
    padding: 19px;
    background-color: #000;
    right: -34px;
    top: 33px;
    box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 2;
    visibility: hidden;
}
.popup-info__container::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: -5px;
    right: 42px;
    background-color: #000;
    transform: rotate(45deg);
}
.auth__information.popup-info:hover .popup-info__container,
.popup-info:focus-within .popup-info__container {
    visibility: visible;
}
.popup-info__text {
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin: 0;
    text-align: left;
}
.modal__button {
    position: relative;
    margin-top: 42px;
    width: 200px;
    padding: 20px;
    z-index: 1;
}
.modal__button::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 8px;
    background-color: #ffc700;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.modal__button:hover {
    background-color: #ffc700;
}
.modal__content .modal__button:focus::after {
    background-color: #af4fff;
}
.modal__button:active {
    color: rgba(0, 0, 0, 0.3);
}
