html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    
}
/* font-family: 'Raleway', sans-serif; */
body {
    padding: 17px 0 0 0;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #444444;
}
.header__main {
    position: relative;
    margin: 0 60px;
    background-color: #FFE17F;
    margin-top: 23px;
}
.header__logo{
    /* position: absolute;
    width: 145px;
    height: 36px;
    top: 0;
    left: 0; */
}



