@font-face {
    font-family: "raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
    font-display: swap;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.list-style-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}
.button,
.services__title-item {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    min-height: 100%;
    margin: 0 auto;
    font-family: "rubik", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #444444;
    background-color: #fff;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.container {
    max-width: 1160px;
    margin: 0 auto;
}
.main-container {
    flex-grow: 1;
}


.header__main{
    padding: 0 60px;
    color: #000;
    background-color: #ffe17f;
}
.header__nav,
.menu__items {
    display: flex;
}
.header__nav a {
    font-family: inherit;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #000;
}
.header__user {
    font-size: 16px;
    line-height: 19px;
}
.header__login {
    color: rgba(0, 0, 0, 0.3);
}
.search__field,
.search__field::placeholder {
    font-family: inherit;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.3);
}

.header__menu a,
.footer__menu a {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    text-align: center;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.title {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    color: #000;
    margin: 0;
}
.slider {
    color: #000;
}
.slider__item {
    display: flex;
}
.slider__content {
    width: 560px;
    margin-left: auto;
}
.element__specifications {
    font-weight: 400;
    font-size: 36px;
    line-height: 30px;
}
.element__specification-text {
    font-size: 16px;
}
.products {
    color: #000;
}
.products__list {
    display: flex;
    justify-content: space-between;
}
.products__item {
    width: 160px;
    background-color: #ffe17f;
}
.products h3 {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
}

.services {
    color: #000;
    background-color: #f0f0f0;
}
.services__wrapper {
    display: flex;
}
.services__items {
    width: 280px;
    margin-right: 120px;
}
.services__description {
    width: 500px;
}
.services__title-item--active {
    color: #ffe17f;
    background-color: #000;
}
.services__text {
    color: #444444;
}
.about__delivery {
    background-color: #f0f0f0;
    color: #000;
}
.about__delivery-description {
    display: block;
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: inherit;
}
.company__wrapper {
    display: flex;
}

.about-us {
    width: 500px;
    margin-right: 100px;
}
.about-us__company {
    font-weight: 800;
    line-height: 20px;
    color: #000;
}
.contacts {
    width: 515px;
}
.contacts__subtitle {
    font-weight: 800;
    font-size: 24px;
}

.distribution {
    background-color: #f0f0f0;
}
.distribution__mail {
    display: flex;
}
.distribution__title {
    margin-right: 40px;
}
.distribution__description {
    width: 560px;
    margin-left: auto;
}
.distribution__mail-subscription {
    display: flex;
}
.distribution__input,
.distribution__input::placeholder {
    font-family: inherit;
    font-size: 18px;
    line-height: 30px;
    color: rgba(4, 4, 4, 0.5);
    width: 560px;
    margin-right: 40px;
}
.distribution__btn {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000;
    margin-right: 136px;
}
.distribution__subscription-free {
    margin-left: auto;
}

.footer {
    color: #fff;
    background-color: #444444;
}
.footer__wrapper {
    display: flex;
}
.contacts__adress {
    font-size: 16px;
    line-height: 19px;
    color: inhetir;
    font-style: normal;
    width: 240px;
    margin: 0;
    margin-right: 115px;
}
.footer-menu__items {
    display: flex;
    margin-right: 7px;
}
.footer-menu__item {
    width: 148px;
}
.contacts__phone {
    width: 293px;
    text-align: right;
    margin-left: auto;
}

.catalog__header{
    margin-left: 60px;
}
.catalog__products{
    display: flex;
}
.catalog__settings{
    min-width: 468px;
    padding-left: 200px;
}
.catalog__right-column{
    display: flex;
    flex-direction: column;
    min-width: 972px;
}
.bredcrumbs{
    display: flex;
}
.bredcrumbs__item{
    margin-right: 35px;
}
.breadcrumbs__link {
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
}
.catalog__settings {
    display: flex;
    flex-direction: column;
    max-width: 468px;
    color: #000;
    background-color: #ebebeb;
}
.catalog__filter,
.sort___form label,
.pagination__link {
    font-family: "raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: inherit;
    background-color: #dcdcdc;
    margin: 0;
    padding: 0;
}
legend {
    font-weight: 800;
    line-height: 20px;
    letter-spacing: -0.02em;
}
.range-toggle,
.catalog__filter-group label {
    font-family: inherit;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    text-transform: none;
    letter-spacing: 0;
}
.control__label {
    color: #000;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
}

.sort{
    
}
.sort___form {
    color: #000;
    background-color: #ebebeb;
}
.sort___form label {
    background-color: inherit;
}
.select__control option {
    font-size: 16px;
    line-height: 19px;
}
.products{
    margin-left: 72px;
}
.product-list{
    display: flex;
    flex-wrap: wrap;

}
.product__card:not(:nth-child(2n)){
    margin-right: 40px;
}
.product__card-title{
    margin: 0;
    padding: 0;
}
.product-card-price {
    line-height: 21px;
    font-weight: 400;
    text-align: right;
}
.pagination {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ebebeb;
    margin-left: 72px;
}
.pagination__items{
    display: flex;
}
.pagination__link {
    background: none;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
}
.pagination-prev,
.pagination__next {
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.2em;
}

.footer-catalog {
    color: #fff;
    background-color: #444444;
}
